.skills {
	text-align: center;
}
.part-table{
	display: table;
	margin-top: 0px;
	overflow-x: hidden;
	display: block;
}
.cell{
	display: table-cell;
	vertical-align: middle;
	
}
.skill-padd{
	margin-top: 34px;
	margin-bottom: 27px;
	
}
.sprite {
    
    background-repeat: no-repeat;
    display: block;
	margin-right: 12px;
}
.sprite-SKILLS-ICON {
    width: 79px;
    height: 79px;
    background-position: -191px -5px;
}
.part-name{
	font-size: 45.3px;
	vertical-align: middle;
	color:rgb(61, 108, 176);
	font-weight: bold;
	
	width: 100px;
}
.line{
	width: 400px;
	height: 5px;
	background-color: rgb(61, 108, 176);
	margin-left: 8px;
	margin-top: 4px;
	
}
.big-words{
	font-size: 28.57px;
	margin: 0;
}
.skills-padding {
	margin-right: 14px;
}
.skill-bar {
	margin-top: 9px;
	margin-bottom: 18px;
	text-align:left;
	padding-left: 50px;
}
.sprite2 {
    
    background-repeat: no-repeat;
	margin-right: 8px;
	display: inline-block;	
}
.sprite-Elipse-blue {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-Elipse-gray {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}