#skills
  .part-table.skill-padd
    .cell
      i.sprite.sprite-SKILLS-ICON
    .part-name.cell SKILLS
    .cell
      .line
  span.big-words.skills-padding CREATIVE
  br
  .skill-bar
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-gray
    i.sprite2.sprite-Elipse-gray
    i.sprite2.sprite-Elipse-gray
  span.big-words.skills-padding TEAMWORK
  br
  .skill-bar
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-gray
  span.big-words.skills-padding INNOVATE
  br
  .skill-bar
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-gray
    i.sprite2.sprite-Elipse-gray
    i.sprite2.sprite-Elipse-gray
    i.sprite2.sprite-Elipse-gray
    i.sprite2.sprite-Elipse-gray
    i.sprite2.sprite-Elipse-gray
  span.big-words.skills-padding COMMUNICATION
  br
  .skill-bar
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-blue
    i.sprite2.sprite-Elipse-gray
