#experience
  .part-table
    .cell
      i.sprite.sprite-EXPERIENCE-ICON
    .part-name.cell EXPERIENCE
    .cell
      .line
  ul.experience-list
    li
      p.big-words
        strong COMPANY NAME
        |  // Feb 2011 - Jum 2014
        br
        |  YOUR JOB HERE
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etmagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li
      p.big-words
        strong COMPANY NAME
        |  // Feb 2011 - Jum 2014
        br
        |  YOUR JOB HERE
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etmagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li
      p.big-words
        strong COMPANY NAME
        |  // Feb 2011 - Jum 2014
        br
        |  YOUR JOB HERE
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etmagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
