#education
  .part-table
    .cell
      i.sprite.sprite-EDUCATION-ICON
    .part-name.cell EDUCATION
    .cell
      .line
  ul.education-list
    li
      p.big-words
        span.master-degree 	  	MASTER DEGREE
        |  //Feb 2011 - Jun 2014
        br
        |  UNIVERSITY NAME
      p.education-paragraph
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoquepenatibusetmagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li
      p.big-words
        span.master-degree 	  	MASTER DEGREE
        |  //Feb 2011 - Jun 2014
        br
        |  UNIVERSITY NAME
      p.education-paragraph
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoquepenatibusetmagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li
      p.big-words
        span.master-degree 	  	MASTER DEGREE
        |  //Feb 2011 - Jun 2014
        br
        |  UNIVERSITY NAME
      p.education-paragraph
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoquepenatibusetmagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li
      p.big-words.edication-padding
        span.master-degree 	  	MASTER DEGREE
        span //Feb 2011 - Jun 2014
        br
        |  UNIVERSITY NAME
      p.education-paragraph
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociisnatoquepenatibusetmagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
