#software
  .part-table
    .cell
      i.sprite.sprite-SOFTWARE-ICON
    .part-name.cell SOFTWARE
    .cell
      .line
  .software-block
    .fl-left.big-words
      span PHOTOSHOP
      br
      svg.software-word-pad(height='25')
        rect(width='306', height='25', fill='rgb(230, 230, 230)')
        rect(width='278', height='25', fill='rgb(61, 108, 176)')
    .fl-left.big-words
      | DREAMWEAVER
      br
      svg.software-word-pad(height='25')
        rect(width='306', height='25', fill='rgb(230, 230, 230)')
        rect(width='254', height='25', fill='rgb(61, 108, 176)')
    .fl-left.big-words
      | ILLUSTRATOR
      br
      svg.software-word-pad(height='25')
        rect(width='306', height='25', fill='rgb(230, 230, 230)')
        rect(width='216', height='25', fill='rgb(61, 108, 176)')
    .fl-left.big-words
      | AFTER EFFECTS
      br
      svg.software-word-pad(height='25')
        rect(width='306', height='25', fill='rgb(230, 230, 230)')
        rect(width='189', height='25', fill='rgb(61, 108, 176)')
    .fl-left.big-words
      | INDESIGN
      br
      svg.software-word-pad(height='25')
        rect(width='306', height='25', fill='rgb(230, 230, 230)')
        rect(width='172', height='25', fill='rgb(61, 108, 176)')
    .fl-left.big-words
      | HTML&CSS3
      br
      svg.software-word-pad(height='25')
        rect(width='306', height='25', fill='rgb(230, 230, 230)')
        rect(width='279', height='25', fill='rgb(61, 108, 176)')
